pages/Customer/xml_xsl/stuff_comments.schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stuffs_comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stuffs_comment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stuff_id" type="xs:string" />
              <xs:element name="stuff_comment_id" type="xs:string" />
              <xs:element name="stuff_comment_uid" type="xs:string" />
              <xs:element name="stuff_comment_user_img" type="xs:string" />
              <xs:element name="stuff_comment_text" type="xs:string" />
              <xs:element name="stuff_comment_time" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>