pages/Customer/xml_xsl/stuff.schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stuffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stuff">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stuff_id" type="xs:string" />
              <xs:element name="stuff_img" type="xs:string" />
              <xs:element name="stuff_title" type="xs:string" />
              <xs:element name="stuff_name" type="xs:string" />
              <xs:element name="stuff_description" type="xs:string" />
              <xs:element name="stuff_time_upload" type="xs:string" />
              <xs:element name="stuff_uid" type="xs:string" />
              <xs:element name="stuff_user_img" type="xs:string" />
              <xs:element name="stuff_longitude" type="xs:decimal" />
              <xs:element name="stuff_latitude" type="xs:decimal" />
              <xs:element name="stuff_address" type="xs:string" />
              <xs:element name="stuff_like_count" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>