pages/xml_xsl/borneoRainforest.schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="borneoRainforest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="borneoRainforest_title1" type="xs:string" />
        <xs:element name="borneoRainforest_p1" type="xs:string" />
        <xs:element name="borneoRainforest_img1" type="xs:string" />
        <xs:element name="borneoRainforest_p2" type="xs:string" />
        <xs:element name="borneoRainforest_img2" type="xs:string" />
        <xs:element name="borneoRainforest_p3" type="xs:string" />
        <xs:element name="borneoRainforest_title2" type="xs:string" />
        <xs:element name="borneoRainforest_title2_sub1" type="xs:string" />
        <xs:element name="borneoRainforest_p4" type="xs:string" />
        <xs:element name="borneoRainforest_p5" type="xs:string" />
        <xs:element name="borneoRainforest_img3" type="xs:string" />
        <xs:element name="borneoRainforest_p6" type="xs:string" />
        <xs:element name="borneoRainforest_title3" type="xs:string" />
        <xs:element name="borneoRainforest_title3_sub1" type="xs:string" />
        <xs:element name="borneoRainforest_p7" type="xs:string" />
        <xs:element name="borneoRainforest_img4" type="xs:string" />
        <xs:element name="borneoRainforest_p8" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>