pages/Customer/xml_xsl_schema_backup/place_likes.schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="place_likes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="place_like">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="place_like_uid" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="place_id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>