pages/Customer/xml_xsl_schema_backup/place_comments.schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="places_comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="places_comment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="place_id" type="xs:string" />
              <xs:element name="place_comment_id" type="xs:string" />
              <xs:element name="place_comment_uid" type="xs:string" />
              <xs:element name="place_comment_user_img" type="xs:string" />
              <xs:element name="place_comment_text" type="xs:string" />
              <xs:element name="place_comment_time" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>